$result-color: #0d0d0d;
$border-color: #e7e7e7;
$app-background-color: #f2f2f2;
$app-frame-color: #ffffff;

.app {
  background-color: $app-background-color;
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  place-content: center;
}

.app-main {
  background: $app-frame-color;
  border: 1px solid $border-color;
  border-radius: 0.25rem;
}

.result-display {
  height: 6rem;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border-bottom: 1px solid $border-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.5rem;
}
